@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    --fonte-1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte-2: 'Passion One', cursive;
    --fonte-3: 'Sriracha', cursive;
}

html, body {
    min-width: 100vh;
    background-color: darkgray;
    font-family: var(--fonte-1);
}

header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 50px;
}

header > h1 {
    font-variant: small-caps;
    font-family: var(--fonte-2);
    font-size: 10vw; /*Não recomendado!*/
}

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte-3);
    font-size: 3.5vw; /*Não recomendado!*/
}

section > p {
    padding-bottom: 2em;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgba(0, 0, 0, 0.555);
    color: white;
    box-shadow: inset 7px 7px 15px 0px rgba(0, 0, 0, 0.555);
}

section#img01 {
    background: black url(../imagens/background001.jpg) right center no-repeat fixed;
    background-size: cover;
}

section#img02{
    background: black url(../imagens/background002.jpg) center center no-repeat fixed;
    background-size: cover;
}

section.imagem > p {
    display: inline-block;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.555);
    border-radius: 10px;
    text-shadow: 1px 1px 1px black;

}

footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 15px;
}